body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
    font-family: Arial, sans-serif;
}

#clock {
    font-size: 7rem;
    font-weight: bold;
}

.clock {
    background-color: black;
}

.body {
font-size: 4rem;
text-align: center;
}

@media (max-width: 430px) {
    .clock {
        width: 10px;
        align-items: center;
        font-size: 70px;
    }

    .body {
        font-size: 50px;
        max-width: fit-content;
    }
}